include CHANGES LICENSE README
include setup.py sitecustomize.py
include pylint.rc
graft editline
graft setupext
graft setupext/hostconf
graft src
graft docs
graft examples
prune editline/__pycache__
prune editline/tests/__pycache__
prune editline/tests/support/__pycache__
prune setupext/__pycache__
prune setupext/hostconf/__pycache__
