include CHANGES.rst LICENSE README.rst
include *.py setup.cfg
graft editline
graft setupext
graft src
graft examples
prune editline/__pycache__
prune editline/test/__pycache__
prune setupext/__pycache__
