include CHANGES.rst LICENSE
include *.py test/*.py
graft setupext
graft src
graft examples
graft libedit
graft check
exclude README.md Makefile
prune patches
prune regression
prune sys-python-check
prune venv
